################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/DogBreedingWebApp/.vs/DogBreedingWebApp/v16
/Backend/DogBreedingWebApp/DogBreedingWebApp/obj
/Backend/DogBreedingWebApp/DogBreedingWebApp/DogBreedingWebApp.csproj.user
/Backend/DogBreedingWebApp/DogBreedingWebApp/bin/Debug/netcoreapp3.1
/Frontend/dog-breed-ui/yarn.lock
/Backend/DogBreedingWebApp/DogBreedingWebAppTests/obj
/Backend/DogBreedingWebApp/.vs/DogBreedingWebApp/DesignTimeBuild
