.grid-container {
    display: grid;
    grid-template-columns: auto;
    background-color: #2196F3;
    padding: 10px;
    padding-right: 10%;
    padding-left: 10%;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.616);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    align-content: center;
    box-sizing: border-box;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

div#error-alert {
    background: #ececec;
    width: 550px;
    height: 130px;
    margin: 0 auto;
    border: 2px solid #8f2203;
    -moz-border-radius: 1em 1em;
    border-radius: 1em 1em;
}

div#error-alert .alert-heading {
    background: #c12d02;
    width: 100%;
    height: 31px;
    margin: 0;
    position: relative;
    top: 0px;
}